@charset "utf-8";

/* Para celulares */

:root {
    --cor01: #D7D9D8;
    --cor02: #97A68D;
    --cor03: #7E8C74;
    --cor04: #67735F;
    --cor05: #394030;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor05);
    position: relative;
}

main {
    width: 260px;
    height: 520px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#imagem {
    height: 33vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../imagens/verde-escuro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section > h1 {
    padding: 10px;
    text-align: center;
}

section > p {
    
    padding: 8px;
    font-size: 0.8em;
}



section > form > p {
    width: 230px;
    margin: auto;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 7px;
    text-align: right;
    background-color: var(--cor05);
    display: flex;
    
}

span {
    color: white;
    font-weight: lighter;
    padding-top: 5px;
    padding-right: 5px;
    flex: 1;    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 84
  }

.email-sen {
    width: 180px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    flex: 7;
}

input#entrar {
    width: 235px;
    border-radius: 7px;
    color: white;
    border: 0px;
    background-color: var(--cor04);
    display: block;
    text-align: center;
    margin: auto;
    padding: 13px;
}

input#entrar:hover {
    background-color: var(--cor02);
}

form > a {
    width: 210px;
    border-radius: 7px;
    border: 2px solid var(--cor04);
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
    color: #394030;
    text-decoration: none;
    font-size: 0.8em;
}

form > a:hover {
    background-color: var(--cor01);
}

form > a::after {
    content: ' ✉';
}











/* main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
} 

<span class="material-symbols-outlined">
alternate_email
</span>



*/


